---
- name: Install nginx configuration
  template:
    src: 'templates/nginx.conf.j2'
    dest: '/etc/nginx/conf.d/{{ application_name }}.conf'
    owner: 'root'
    group: 'root'
    mode: 0644
    backup: yes
  register: nginx_configuration

- name: Ensure nginx log folder present
  file:
    path: '/var/log/nginx/{{ application_name }}'
    state: directory
    owner: 'nginx'
    group: 'nginx'
    mode: 0775

- name: Rotation for project nginx log file
  logrotate:
    name: '{{ application_name }}'
    path: '/var/log/nginx/{{ application_name }}/*.log'
  args:
    options:
      - 'daily'
      - 'rotate 7'
      - 'compress'
      - 'delaycompress'
      - 'dateext'
      - 'create 0644 nginx nginx'
      - 'sharedscripts'
    scripts:
      postrotate: '/etc/init.d/nginx reopen_logs'
  when: laravel_rotate_nginx_log

- name: Ensure storage folders present
  file:
    path: '/var/log/{{ application_name }}/{{ item }}'
    state: directory
    owner: 'nginx'
    group: 'nginx'
    mode: 0755
  with_items:
    - app
    - framework
    - framework/cache
    - framework/sessions
    - framework/views
    - logs

# Only for Vagrant environments
- name: Place .env file in vagrant folder
  template:
    src: templates/dot_env.j2
    dest: '/vagrant/.env'
    force: no
  when: env == 'vagrant'

- name: Run composer install
  composer:
    command: 'install'
    working_dir: '/vagrant'
  when: env == 'vagrant'

# Only for production and staging environments
- name: Ensure deploy stage folder is present
  file:
    path: '/var/www/{{ deploy_stage }}'
    state: directory
    owner: 'root'
    group: 'root'
  when: env == 'production' or env == 'staging'

- name: Ensure shared folder is present
  file:
    path: '/var/www/{{ deploy_stage }}/{{ application_name }}/shared'
    state: directory
    group: '{{ deploy_user }}'
    owner: '{{ deploy_group }}'
  when: env == 'production' or env == 'staging'

- name: Place .env file in shared folder
  template:
    src: templates/dot_env.j2
    dest: '/var/www/{{ deploy_stage }}/{{ application_name }}/shared/.env'
    owner: '{{ deploy_user }}'
    group: '{{ deploy_group }}'
  when: env == 'production' or env == 'staging'


- name: Restart nginx
  service:
    name: nginx
    state: restarted
  when: nginx_configuration.changed
