---
- name: Install nginx configuration
  template:
    src: 'templates/nginx.conf.j2'
    dest: '/etc/nginx/conf.d/{{ laravel_application_name }}.conf'
    owner: 'root'
    group: 'root'
    mode: 0644
    backup: yes
  register: nginx_configuration
  when: laravel_generate_nginx_config

- name: Ensure nginx log folder present
  file:
    path: '/var/log/nginx/{{ laravel_application_name }}'
    state: directory
    owner: 'nginx'
    group: 'nginx'
    mode: 0775

- name: Rotation for project nginx log file
  logrotate:
    name: '{{ laravel_application_name }}'
    path: '/var/log/nginx/{{ laravel_application_name }}/*.log'
  args:
    options:
      - 'daily'
      - 'rotate {{ laravel_rotate_nginx_log_retention }}'
      - 'compress'
      - 'delaycompress'
      - 'dateext'
      - 'create 0644 nginx nginx'
      - 'sharedscripts'
    scripts:
      postrotate: '/etc/init.d/nginx reopen_logs'
  when: laravel_rotate_nginx_log

- name: Ensure storage folders present
  file:
    path: '/var/log/{{ laravel_application_name }}/{{ item }}'
    state: directory
    owner: 'nginx'
    group: 'nginx'
    mode: 0755
  with_items:
    - 'app'
    - 'framework'
    - 'framework/cache'
    - 'framework/sessions'
    - 'framework/views'
    - 'logs'

# Only for Vagrant environments
- name: Place .env file in vagrant folder
  template:
    src: 'templates/dot_env.j2'
    dest: '/vagrant/.env'
    force: no
  when: laravel_env == 'vagrant'

- name: Run composer install
  composer:
    command: 'install'
    working_dir: '/vagrant'
  when: laravel_env == 'vagrant'

# Only for production and staging environments
- name: Ensure deploy stage folder is present
  file:
    path: '{{ laravel_www_dir }}/{{ laravel_stage }}'
    state: directory
    owner: 'root'
    group: 'root'
  when: laravel_env == 'production' or laravel_env == 'staging'

- name: Ensure shared folder is present
  file:
    path: '{{ laravel_www_dir }}/{{ laravel_stage }}/{{ laravel_application_name }}/shared'
    state: directory
    group: '{{ laravel_deploy_user }}'
    owner: '{{ laravel_deploy_group }}'
  when: laravel_env == 'production' or laravel_env == 'staging'

- name: Place .env file in shared folder
  template:
    src: 'templates/dot_env.j2'
    dest: '{{ laravel_www_dir }}/{{ laravel_stage }}/{{ laravel_application_name }}/shared/.env'
    owner: '{{ laravel_deploy_user }}'
    group: '{{ laravel_deploy_group }}'
    backup: true
  when: laravel_env == 'production' or laravel_env == 'staging'

- include: ssl_certificate.yml
  when: laravel_https_enabled

- name: Restart nginx
  service:
    name: nginx
    state: restarted
  when: nginx_configuration.changed
