#jinja2: lstrip_blocks: True
server {
    {% if env == 'staging' %}
    listen {{ nginx_port }};
    server_name {{ server_name }};
    if ($vhost = '') {
        set $vhost 'current';
    }
    root /var/www/{{ deploy_stage }}/{{ application_name }}/$vhost/public;
    access_log /var/log/nginx/{{ application_name }}/$vhost-access.log main;
    error_log /var/log/nginx/{{ application_name }}/$vhost-error.log;

    {% if laravel_https_enabled -%}
    ssl                         on;
    ssl_certificate             {{ laravel_https_cert_path }};
    ssl_certificate_key         {{ laravel_https_key_path }};
    {%- endif %}

    {% elif env == 'production' %}
    listen {{ nginx_port }};
    server_name {{ server_name }};

    root /var/www/{{ deploy_stage }}/{{ application_name }}/current/public;
    access_log /var/log/nginx/{{ application_name }}/access.log main;
    error_log /var/log/nginx/{{ application_name }}/error.log;

    {% if laravel_https_enabled -%}
    ssl                         on;
    ssl_certificate             {{ laravel_https_cert_path }};
    ssl_certificate_key         {{ laravel_https_key_path }};
    {%- endif %}

    {% else %}
    listen {{ nginx_port }};
    root /vagrant/public;
    access_log /var/log/nginx/{{ application_name }}/access.log main;
    error_log /var/log/nginx/{{ application_name }}/error.log;

    # Because of a bug in VirtualBox
    # https://github.com/mitchellh/vagrant/issues/351#issuecomment-1339640
    sendfile off;
    {% endif %}

    index index.php index.html index.htm;

    try_files $uri $uri/ @rewrite;

    location @rewrite {
        rewrite ^(.*)$ /index.php?_url=/$1;
    }

    location ~ \.php {
        {% if laravel_access_control_allow_credentials is defined %}
        add_header Access-Control-Allow-Credentials {{ laravel_access_control_allow_credentials|lower }};
        {% endif %}
        {% if laravel_access_control_allow_headers is defined %}
        add_header Access-Control-Allow-Headers {{ laravel_access_control_allow_headers }};
        {% endif %}
        {% if laravel_access_control_allow_methods is defined %}
        add_header Access-Control-Allow-Methods {{ laravel_access_control_allow_methods }};
        {% endif %}
        {% if laravel_access_control_allow_origin is defined %}
        add_header Access-Control-Allow-Origin {{ laravel_access_control_allow_origin }};
        {% endif %}
        {% if laravel_access_control_max_age is defined %}
        add_header Access-Control-Max-Age {{ laravel_access_control_max_age }};
        {% endif %}

        fastcgi_pass 127.0.0.1:9000;
        fastcgi_index /index.php;

        include /etc/nginx/fastcgi_params;

        fastcgi_split_path_info       ^(.+\.php)(/.+)$;
        fastcgi_param PATH_INFO       $fastcgi_path_info;
        fastcgi_param PATH_TRANSLATED $document_root$fastcgi_path_info;
        fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
    }

    location ~ /\.ht {
        deny all;
    }
}

{% if laravel_https_redirect -%}
server {
    listen         80;
    server_name    {{ server_name }};
    return         301 https://$host$request_uri;
}
{%- endif %}
